.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 220px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 25px;
    width: 450px;
    height: 75px;
    background-color: var(--off-white);
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
}
.therapies-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
footer .left{
    font-size: 2rem;
}
footer .rigth{
    font-size: 2rem;
}
